*{
    box-sizing: border-box;
    background-color: #050c33;
}
.buttonChoice, .displayRetry{
    display: flex;
    margin-top: 20em;
    position:absolute;
    gap: 1em;
}

.btn{
    display: flex;
    position: relative;
    margin-left: auto;
    justify-items: right;
    color: aliceblue;
    padding: 1.5em 2em;
    border-image: linear-gradient(#3cc1f6, #a940ff) 30;
    border-width: 4px;
    font-size: 1rem;
}
#rock:hover{
    background-color: hsla(0, 5%, 67%, 70);
    font-weight: 700;
}
#paper:hover{
    background-color: hsla(0, 0%, 100%, 70);
    color: black;
    font-weight: 700;
}
#scissors:hover{
    background-color: #ffffffb0;
    color: darkred;
    font-weight: 700;
}

.displayText{
    color: aliceblue;
}

.displayRetry{
    padding: 1em 2em;
    margin-top: 1em;
    margin-left: auto;
    color: aliceblue;
    border-image: linear-gradient(#ffed49, #ff0000) 10;
    border-width: 4px;
}
.retryContainer button:hover{
    background-color: #ff000090;
    font-weight: 700;
    color: black;
    font-size: 1em;
}